<link rel="stylesheet" 
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" 
      crossorigin="anonymous">

<!-- <header>logo</header>

<div>description<div>
<div>connexion - inscription</div>
<div>les recettes du moment</div>

<footer>contact - allergène</footer> -->

<app-header-yumami></app-header-yumami>
<app-contenu-accueil></app-contenu-accueil>
<app-recette-moment-accueil></app-recette-moment-accueil>

<app-footer-yumami></app-footer-yumami>